<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <nav>
    <a href="/shopping">Back to Shopping List</a>
  </nav>
  <h1>New Item Page</h1>
  <form action="/shopping" method="POST">
    Name: <input type="text" name="name" /><br/>
    Description: <input type="text" name="description" /><br/>
    Image Link: <input type="text" name="img" /><br/>
    Quantity: <input type="number" name="qty" /><br/>
    Price: <input type="number" name="price" /><br/>
    <input type="submit" name="" value="Create Product"/>
  </form>
</body>
</html>