<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/shopping">Back to Shopping List</a>
  </nav>
  <h1>New Item Page</h1>
  <form action="/shopping" method="POST">
    Name: <input type="text" name="name" /><br/>
    Description: <input type="text" name="description" /><br/>
    Image Link: <input type="text" name="img" /><br/>
    Quantity: <input type="number" name="qty" /><br/>
    Price: <input type="number" name="price" /><br/>
    Grabbed item: <input type="checkbox" name="alreadyGot"><br/>
    <input type="submit" name="" value="Create Product"/>
  </form>
</body>
</html>