body {
  background-image: url(https://img.freepik.com/free-photo/painted-solid-concrete-wall-textured-background_53876-101638.jpg?w=900&t=st=1713474419~exp=1713475019~hmac=31933b62ae1b676499c9fabeb757696f0158e38965c7659a1875e7c965b65c5e);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.images {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Fredericka the Great", serif;
  color: white;
}

.list{
  color: white;
}

button {
font-size: 15px;
background-color: white;
padding:10px 15px;
color: black;
border:2px solid black;
margin-top: 120px;
margin-left: 5px;
}

button:hover{
  background-color: rgb(216, 215, 215);
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none; 
  color: black;
}

a:visited {
  color: none;
}

a:hover {
  color: black;
}

.create {
  display: flex;
  justify-content: center;
  text-decoration: none; 
  font-size: 20px;
  color: black;
}

.list1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Fredericka the Great", serif;
  color: white;
  margin-left: 20px;
  text-decoration: underline;
}

ul {
  color: white;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  text-decoration: none;
  font-family: "Fredericka the Great", serif;
  font-size: 25px;
  list-style-type: none;
  margin: 5px;
  /* border: 3px solid black; */
  padding-right: 30px;
  /* position: relative; */
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}